Commute_Assistant.json
{
  "name": "Commute Assistant",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "c5a8fd7e-cd54-4975-b936-674e827d15ca",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Role:\nA personal commute assistant that helps plan daily travel using public transport.\n\nTask:\nEvery morning, check the user's calendar to determine departure time, then assess the current weather, and analyze bus route data stored in a Google Sheet. Based on these inputs, recommend the most suitable bus and send an email with the suggestion.\n\nInput:\n\nGoogle Calendar (to check today's schedule)\n\nGoogle Sheets (user’s saved BRTS bus routes, including distance, frequency, etc.)\n\nCurrent location weather data (to avoid travel in poor conditions)\n\nTools:\n\nGoogle Calendar API (read access)\n\nGoogle Sheets API (read access to bus list)\n\nWeather API (to get local weather)\n\nGmail API (to send email)\n\nConstraints:\n\nNone specified\n\nOutput:\nA ready-to-send email via Gmail suggesting the best bus option based on calendar, weather, and route data, tailored to time constraints.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "6427c6f8-781e-4ce8-a803-7468897c4789",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        220
      ],
      "id": "3babe1ee-56f1-4a87-abba-f94d981d2b3e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qkPYouKpCZj5A60v",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{$json[\"sessionId\"]}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        280,
        220
      ],
      "id": "7f7c921b-0c00-48bb-aa46-99a37618a36a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "hp952724@gmail.com",
          "mode": "list",
          "cachedResultName": "hp952724@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        440,
        220
      ],
      "id": "95436e51-f647-4725-9b35-6782f3f3d992",
      "name": "checkCalendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "eMxpORUaTloQaNGi",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bwtNOrBBRUnfKxAF6nXQt7xJgkzIO0Bt8jHxVUWA39k",
          "mode": "list",
          "cachedResultName": "Ahmedabad_BRTS_Routes_Dummy",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bwtNOrBBRUnfKxAF6nXQt7xJgkzIO0Bt8jHxVUWA39k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 112584964,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bwtNOrBBRUnfKxAF6nXQt7xJgkzIO0Bt8jHxVUWA39k/edit#gid=112584964"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        700,
        220
      ],
      "id": "5ee9fd5f-ee26-4777-9d93-00d68a51ffde",
      "name": "busesList",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j7fF3JeC8Rbpf2xd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "yashmpatel1412@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "=<html>\n  <body style=\"font-family: Arial, sans-serif; background-color: #f9f9f9; padding: 20px; color: #333;\">\n    <div style=\"max-width: 600px; margin: auto; background-color: #ffffff; border-radius: 8px; padding: 20px; box-shadow: 0 2px 6px rgba(0,0,0,0.1);\">\n      <h2 style=\"color: #2c3e50; border-bottom: 2px solid #e74c3c; padding-bottom: 10px;\">🚍 Daily Commute Recommendation</h2>\n\n      <p>Hello,</p>\n      <p>Based on your schedule and current conditions, here is your recommended commute plan for today:</p>\n\n      <table style=\"width: 100%; border-collapse: collapse; margin-top: 15px;\">\n        <tr>\n          <td style=\"padding: 8px; font-weight: bold;\">Event Timing:</td>\n          <td style=\"padding: 8px;\">Start: 19:03 IST – End: 20:03 IST</td>\n        </tr>\n        <tr>\n          <td style=\"padding: 8px; font-weight: bold;\">Weather:</td>\n          <td style=\"padding: 8px;\">Mist, 26°C, Visibility: 2500m</td>\n        </tr>\n      </table>\n\n      <h3 style=\"color: #27ae60; margin-top: 30px;\">🚌 Recommended Bus Option</h3>\n      <table style=\"width: 100%; border-collapse: collapse;\">\n        <tr>\n          <td style=\"padding: 8px; font-weight: bold;\">Route Name:</td>\n          <td style=\"padding: 8px;\">RTO Circle to Maninagar</td>\n        </tr>\n        <tr>\n          <td style=\"padding: 8px; font-weight: bold;\">Distance:</td>\n          <td style=\"padding: 8px;\">12.5 km</td>\n        </tr>\n        <tr>\n          <td style=\"padding: 8px; font-weight: bold;\">Estimated Travel Time:</td>\n          <td style=\"padding: 8px;\">35 minutes</td>\n        </tr>\n        <tr>\n          <td style=\"padding: 8px; font-weight: bold;\">Frequency:</td>\n          <td style=\"padding: 8px;\">Every 10 minutes</td>\n        </tr>\n        <tr>\n          <td style=\"padding: 8px; font-weight: bold;\">Service Type:</td>\n          <td style=\"padding: 8px;\">Express</td>\n        </tr>\n      </table>\n\n      <p style=\"margin-top: 20px;\">Make sure to leave on time to arrive comfortably. Safe travels!</p>\n      <p style=\"font-weight: bold;\">– Your Commute Assistant</p>\n    </div>\n  </body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        820,
        220
      ],
      "id": "673ac6be-45fd-4ec6-8892-6cf35de4d64f",
      "name": "sendGmail",
      "webhookId": "7dc78d7f-c00a-4df6-9fb6-443a62a8fcc6",
      "credentials": {
        "gmailOAuth2": {
          "id": "CNxXfrXAEwRl8yl7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "format": "imperial",
        "cityName": "Ahmedabad, IN"
      },
      "type": "n8n-nodes-base.openWeatherMapTool",
      "typeVersion": 1,
      "position": [
        580,
        220
      ],
      "id": "5029ec3a-65d9-4988-809b-4a752fa82ac5",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "mCQDbPcd0hjMmShs",
          "name": "OpenWeatherMap account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "checkCalendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "busesList": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "sendGmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "77301b88-652d-40e2-a511-e71bb74786bc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17395907db3310b8a2b4886738828aaaf93eb816c0b557a580ce3d376a879474"
  },
  "id": "OH5U320Sf7xb7LbA",
  "tags": []
}